.add-organism-popup {
  width: 800px;
  height: 600px;
  background-color: lightgray;
  position: fixed;
}

button {
  width: 375px;
  height: 100px;
  margin-top: 10px;
  margin-left: 15px;
  background-color: white;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cancel-button {
  margin: 0;
  font-size: large;
  font-weight: bold;
  background-color: red;
  width: 30px;
  height: 30px;
}

.hidden {
  display: none;
}
